//assign Flex Standard
//assigning default values to the $align parameters
@mixin setFlex($direction, $alignv:center, $alignh:space-evenly){
    display: flex;
    flex-direction: $direction;
    flex-wrap: wrap;
    
    //evaluation according to direction in which elements should be visualized
    @if ($dir == row){
        justify-content: $alignh;
        align-content: $alighv;
    } @else {
        justify-content: $alignv;
        align-content: $alignh;
    }

}

//this is a placeholder for basic styling
%basics{
    text-decoration: none;
    margin: 0%;
    padding: 0%;
    list-style: none;
    box-sizing: border-box;
    position: relative;

}