@import "settings/variables";
.menu{
    li{
        padding: 5%;
        border-radius: 5px;
        background-color: lighten($color: green, $amount: ($i*2));
        color: $secondary;
        transition: all 500ms ease-in-out;
    }


    //you need to add an extra one if you put "to" instead of "through", it's not inclusive
    @for $i from 1 through 5{
        $animtime:($i*250)+250ms;

        li:nth-child(#{$i}){
            animation: animbutt 1750ms ease-in-out;
        }    
    }
}


//animation
@keyframes animbutt{
0%{
    background-color: $accent;
    letter-spacing: -5%;
}
100%{
    background-color: $primary;
    letter-spacing: 10%;
}

}