.toptit{
    font-family: $toptit;
}

.navbar {
    background-color:$bg;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  

.navbar a {
    float: left;
    font-family: $text;
    display: block;
    color:$textcol;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  
        &:hover {
            background-color:$bghov;
            color:$textcol;
            }
  
        &:active {
            background-color:$bghov;
            color:$textcol;
            }
}
