.top {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color:$bg;
  }
  
  .topmen a {
    display: block;
    color: $textcol;
    padding: 8px 16px;
    text-decoration: none;

        &:hover {
            background-color:$bghov;
            color: $textcol;
        }
  }
