.butt{
    border-width: 1px;
    padding: 3px;
    margin: 3px;

    &:hover{
        border-width: 0px;
    }

    &-primary{
        border-color: $primary;
    }

    &-warning{
        border-color: $warning;
    }
    &-danger{
        border-color: $danger;
    }    
    &-success{
        border-color: $success;
    }
    &-info{
        border-color: $info;
    }

}