//styles.scss
$pricol:rgb(205, 90, 25);
$prihov:rgb(250, 100, 30);
$font:'Tajawal', sans-serif;
$boxshadow: 3px;
$seccolor: rgb(135, 205, 190);
$hovcolor: rgb(100, 160, 150);

.bigtitle{
    color:var($pricol);
    font-family:var($font);
    box-shadow:var($boxshadow);
}

.topnav {
    background-color:var($seccolor);
    overflow: hidden;
    margin-left: 10% ;} 

  .topnav a {
    float: left;
    color:var($pricol);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;}

  .topnav a:hover {
    background-color:var($hovcolor);
    color:var($prihov);}

  .topnav a.active {
    background-color: #99d4be;
    color:var($pricol);}

    .navbut{
        background-color:var($seccolor);}
    .navbut :hover{
        background-color:var($hovcolor) ;}

.box{
    background-color:var($seccolor);
    box-shadow: 3px;
    border:var($pricol);
}

.smalltitle{
    color:var($pricol);
    text-align: left;
    font-family:var($font);
}

